{% extends "base.html" %}

{% block title %}Strona główna - BeFit2 Django{% endblock %}

{% block content %}
<div class="p-4 bg-light rounded-3">
  <h1 class="display-5 fw-bold">BeFit2 Django</h1>
  <p class="lead">
    Prosta aplikacja do rejestrowania sesji treningowych, ćwiczeń oraz
    przeglądania statystyk.
  </p>
  <hr class="my-4" />
  <p>
    Użyj menu na górze, aby przejść do listy typów ćwiczeń, sesji, wykonanych
    ćwiczeń lub statystyk z ostatnich 4 tygodni.
  </p>
</div>
{% endblock %}
