{% extends "base.html" %}

{% block title %}Twoje ćwiczenia{% endblock %}

{% block content %}
<h2>Twoje wykonane ćwiczenia</h2>

<a href="{% url 'session_exercise_create' %}" class="btn btn-primary mb-3">
  Dodaj ćwiczenie
</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sesja</th>
      <th>Typ ćwiczenia</th>
      <th>Ciężar [kg]</th>
      <th>Serie</th>
      <th>Powtórzenia</th>
      <th>Akcje</th>
    </tr>
  </thead>
  <tbody>
    {% for e in exercises %}
    <tr>
      <td>{{ e.training_session.start }}</td>
      <td>{{ e.exercise_type.name }}</td>
      <td>{{ e.weight }}</td>
      <td>{{ e.sets }}</td>
      <td>{{ e.reps }}</td>
      <td>
        <a href="{% url 'session_exercise_edit' e.id %}" class="btn btn-warning btn-sm">
          Edytuj
        </a>
        <a href="{% url 'session_exercise_delete' e.id %}" class="btn btn-danger btn-sm">
          Usuń
        </a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">Brak wykonanych ćwiczeń.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
